{
    "presets": [
        "react",
        "latest"
    ],
    "plugins": [
        "transform-function-bind",
        "transform-react-jsx",
        "transform-object-assign",
        "transform-object-rest-spread"
    ]
}
