// TODO: NEED TO SEPARATE ALL STYLES BELOW INTO SEPERATE FILES => in progress...
@import '../additional-custom-styles/custom-form.scss';
@import '../additional-custom-styles/custom-jfc.scss';

//Delete after!
//Links for registration form
.FancyLink {
    a {
        color: #f59b00;
    }
}

.FancyErrorMessage {
    text-align: left;
}
//Delete after

// additinal styles for newsletter:
[data-tpl="newsletter"] {
    .checkbox {
        a {
            color: #f59b00;
        }
    }

    p > a {
        color: #f59b00;
    }
}

// font color for link in address:
[data-tpl="customer-address"] {
    p > a {
        color: #f59b00;
    }
}

// additional styles for form: additional info B2C:
[data-tpl="additional-info-b2c"] {
    .date-group {
        width: 100%;
    }

    .date-group-btn {
        height: 100%;

        &::before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }

    .icon-calendar {
        vertical-align: middle;
        display: inline-block !important;

        &::before {
            cursor: pointer;
            margin-top: 10px;
        }
    }
}

// 1408 - bubble text:
[data-tpl="cih01"] {
    .cnt03 {
        position: relative;
    }

    a:hover ~ .bubble-text {
        visibility: visible;
    }

    .bubble-text {
        background-color: #fff;
        border-radius: 5px;
        bottom: 140%;
        box-shadow: 0 0 6px #b2b2b2;
        display: inline-block;
        left: -10px;
        padding: 10px 18px;
        position: absolute;
        vertical-align: top;
        visibility: hidden;
        width: 300px;
        z-index: 2;

        @media (min-width: 479px) {
            left: auto;
            right: -15px;
        }

        &::after {
            background-color: #fff;
            box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
            content: "\00a0";
            display: block;
            height: 17px;
            left: 10%;
            position: absolute;
            bottom: -8px;
            transform: rotate(-46deg) skew(-2deg);
            width: 17px;

            @media (min-width: 479px) {
                left: 60%;
            }
        }
    }
}

// 1408 - cih01c margin bottom:
[data-tpl-component="cih01c"] {
    margin-bottom: 1rem;
}

// 1369 - invoiceDetailsCollection and invoiceDetailsItem:
[data-tpl="invoiceDetailsItem"] {
    [data-tpl=lin01] {
        padding-top: 0 !important;
    }
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-22 {
    margin-top: 1rem;
}

.mb-22 {
    margin-bottom: 1rem;
}

.d-ib {
    display: inline-block;
}

.fl-r {
    float: right;
}

.fl-l {
    float: left;
}

.ta-r {
    text-align: right;
}

.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.pl-16 {
    padding-left: .75rem;
}

// DFD-1471 in between invoice:
[data-tpl='energyList'] {
    .energy-item {
        margin-bottom: 1.5rem;

        .picker {
            right: auto !important;
            left: -80px !important;

            &::before {
                right: 9.6rem !important;
            }

            @media (min-width: 479px) {
                left: -160px !important;

                &::before {
                    right: 12.1rem !important;
                }
            }

            @media (min-width: 799px) {
                left: auto !important;
                right: 0 !important;

                &::before {
                    right: .6rem !important;
                }
            }
        }

        &__data {
            display: flex;
            font-size: .9rem;
            font-weight: 700;
        }

        &__unitEdit {
            padding-top: 10px;
            font-size: 20px;
        }

        hr {
            margin: .5rem 0;
        }

        span {
            margin-right: .5rem;
        }

        label {
            display: none;
        }

        .form-group {
            margin: 0 10px 0 0;
            flex-grow: 1;
        }

        // hotfix for datepicker's width:
        .datepickerWidth {
            .form-group {
                max-width: calc(100% - 30px);
            }
        }

        fieldset {
            flex-grow: 1;
        }

        [data-tpl='tooltip'] {
            display: none;
        }

        h2 {
            margin-bottom: 1rem;
        }

        h3 {
            margin: 1.5rem 0 .75rem;
        }
    }
}

#InvoiceInBetweenForm,
#CorrectInvoiceForm {
    // hotfix for multistep form max-width, will remove
    .formEdit {
        max-width: none;
    }

    #hpn01,
    .AditionalInformation {
        margin-bottom: 2rem;
    }

    .cih01--cta {
        padding: 1rem;

        p {
            margin: 0;
        }
    }

    .correctionReason,
    .cih01--cta,
    .AditionalInformation,
    .checkbox {
        padding-left: .75rem;
    }

    .aCustomSelect,
    .AditionalInformation,
    label,
    .correctionReason {
        text-align: left;
    }
}
